<!DOCTYPE html>
<html>
	<head>
        <title>Creer un article</title>
	</head>

	<body>
        <form method="post" action="/post/new">
            <div class="form-group">
              <label>Titre</label>
              <input
                required
                name="post_title"
                id="post_title"
                type="text"
                class="form-control"
              />
              <label>Description</label>
              <input
                required
                name="post_content"
                id="post_content"
                type="textarea"
                class="form-control"
              />
              
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
    </body>
</html>