<!DOCTYPE html>
<html>
	<head>
        <title>Register</title>
	</head>

	<body>
        <form method="post" action="/user/register">
            <div class="form-group">
              <label>Username</label>
              <input
                required
                name="username"
                id="username"
                type="text"
                class="form-control"
              />
              <label>Password</label>
              <input
                required
                name="password"
                id="Password"
                type="password"
                class="form-control"
              />
              
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
    </body>
</html>