html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(243, 68, 65, 1) 100%), url(../logo/background_quest.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.text-white{
  overflow-x: visible;
  white-space: nowrap;
}
.pwd-text{
  margin-top: 0.5em;
}
::-moz-placeholder {
  color: #000 !important;
  opacity: 0.3 !important;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

hr { background-color: white; height: 1px; border: 0; }

.post-date {
  font-size: 12px;
}
.btn-reglog{
  margin-bottom: 1em;
}
.regloglink{
  color: #F34441;
  overflow-x: visible;
  white-space: nowrap;
}
.regloglink:hover{
  color: #FFF;
}
.footer{
  position: fixed;
  bottom: 0;
}
.footer-content{
  margin: auto;
  white-space: nowrap;
  text-align: center;
}
.footer-text{
  color: #FFF;
  text-align: center;
  display: inline;
}
.licencelink:hover{
  color: #F34441;
}
.newpost-form{
  width: 70%;
  max-width: 600px;
}
.articles{
  color: #000 !important;
  background-color:#FFF;
  border-radius: 0.5em;
  width: 60em;
  /*text-align: left !important;*/
}
.article-title{
  background-color: #F34441;
  border: 2px solid #FF2220;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  color: #FFF !important;
}
.article-content{
  white-space: normal !important;
  overflow-wrap: break-word !important;
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}
.comment-form{
  text-align: left !important;
}
.comments-title{
  text-align: left;
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  font-weight: 600 !important;
  border-top: 2px solid #AAA;
}
.comments{
  white-space: normal !important;
  overflow-wrap: break-word !important;
  margin-left: 1em;
  margin-right: 1em;
  text-align: justify;
}
.comment-group{
  text-align: left;
  margin-left: 1em;
}
.comment-input{
  max-width: 20em;
}
.btn-comment{
  margin-left: 1em;
}
.btn-logout{
  position: absolute !important;
  left: 92% !important;
  top: 2% !important;
  color: #FFF;
  background-color: #000;
}