html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: inline-block;
  width: 100%;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(243, 68, 65, 1) 100%), url(../logo/background_quest.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.amimated-background{
  /*background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(243, 68, 65, 0.95) 100%), url("https://upload.cat/imageviewer/4411d1ed725fda4ad02385d9e0f854b1_80472") !important;*/
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(243, 68, 65, 0.95) 100%), url("../public/logo/background_quest.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /*background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(243, 68, 65, 0.95) 100%), url("../public/logo/background_quest.png") no-repeat !important;*/
  background-size: cover;
  opacity: 0.1;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.text-white{
  overflow-x: visible;
  white-space: nowrap;
}
.pwd-text{
  margin-top: 0.5em;
}
::-moz-placeholder {
  color: #000 !important;
  opacity: 0.3 !important;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

hr { background-color: white; height: 1px; border: 0; }

.post-date {
  font-size: 12px;
}
.btn-reglog{
  margin-bottom: 1em;
}
.regloglink{
  color: #F34441;
  overflow-x: visible;
  white-space: nowrap;
}
.regloglink:hover{
  color: #FFF;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content{
  margin: auto;
  white-space: nowrap;
  text-align: center;
}
.footer-text{
  color: #FFF;
  text-align: center;
  display: inline;
}
.licencelink:hover{
  color: #F34441;
}
.newpost-form{
  width: 70%;
  max-width: 600px;
}
.articles{
  color: #000 !important;
  background-color:#FFF;
  border-radius: 0.5em;
  /*width: 60em;*/
  text-align: left;
  align-self: center;
}
.article-title{
  background-color: #F34441;
  border: 2px solid #FF2220;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  color: #FFF !important;
  text-align: center !important;
}
.article-content{
  white-space: normal !important;
  overflow-wrap: break-word !important;
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}
.vote-form{
  display: inline-flex !important;
  margin-bottom: 1em;
}
.btn-votep{
  margin-left: 1em;
  padding: 0.1em !important;
}
.btn-share{
  margin-left: 0.2em;
  padding: 0.1em !important;
}
.comment-form{
  text-align: left !important;
}
.comments-title{
  text-align: left;
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  font-weight: 600 !important;
  border-top: 2px solid #AAA;
}
.comments{
  white-space: normal !important;
  overflow-wrap: break-word !important;
  margin-left: 1em;
  margin-right: 1em;
  text-align: justify;
}
.comment-group{
  text-align: left;
  margin-left: 1em;
}
.comment-input{
  max-width: 20em;
}
.btn-comment{
  margin-left: 1em;
}
.article-descrip{
  min-height: 24em;
  min-width: 50em;
}
.btn-logout{
  position: fixed !important;
  left: 90% !important;
  top: 2% !important;
  color: #FFF;
  background-color: #000;
}

.btn-profile{
  position: fixed !important;
  left: 2% !important;
  top: 2% !important;
  color: #FFF;
  background-color: #000;
}

.post-list{
  width: 85%;
  max-width: 800px;
  position: relative;
  align-self: center;
  margin: 0 auto;
}