<!--

=========================================================
* VRTex - v1.0
=========================================================

* Original by VRTex team

* Copyright 2019 VRTex team
* Licensed under MIT (https://github.com/capmalo/VRTex-website/blob/master/LICENSE.md)

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="fr">
	<head>
        <title>VRTex - Connexion</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/main.css">
	</head>

	<body class="text-center amimated-background">
        <video playsinline autoplay muted loop poster="../public/logo/background_quest.png" id="bgvid">
          <source src="../public/logo/OculusQuest.mp4" type="video/mp4">
        </video>
        <form method="post" class="form-signin" action="/user/login?from=<%= from %>">
          <img class="mb-4" src="../public/logo/logo.png" alt="" width="200">
          <h1 class='h3 mb-3 font-weight-normal text-white'>Merci de vous connecter  :)</h1>
            <div class="form-group">
              <label class="text-white">Pseudo</label>
              <input
                required
                name="username"
                id="username"
                type="text"
                class="form-control"
                placeholder="I <3 VRTEX"
              />
              <label class="text-white pwd-text">Mot de passe</label>
              <input
                required
                name="password"
                id="Password"
                type="password"
                class="form-control"
                placeholder="Mot de passe"
              />
              
            </div>
            <button type="submit" class="btn btn-danger btn-reglog">Connexion</button>
            <br>
            <a class="regloglink" href="/register">Cliquer ici pour s'inscrire</a>
          </form>
      <footer class="footer">
      <script>
        $( document ).ready (() => {
          <% if (typeof msg == 'undefined') {
            var msg = ''
          } %>
          if (!('<%= msg %>' == '')) {
            alert('<%= msg %>')
          }
        })
      </script>
      <div class="footer-content">
        <p class="footer-text">&copy2019 VRTEX</p>
        <p class="footer-text"> - </p>
        <a class="footer-text licencelink" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons NC-ND</a>
      </div>
    </footer>    
  </body>
</html>