<!DOCTYPE html>
<html lang="fr">
	<head>
        <title>Creer un article</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/main.css">
	</head>

	<body class="text-center">
        <form method="post" class="newpost-form" action="/post/new">
          <h1 class='h3 mb-3 font-weight-normal text-white'>Nouvel article</h1>
            <div class="form-group">
              <label class="text-white">Titre</label>
              <input
                required
                name="post_title"
                id="post_title"
                type="text"
                class="form-control"
              />
              <label class="text-white">Description</label>
              <textarea
                required
                name="post_content"
                id="post_content"
                class="form-control"
              ></textarea>
              
            </div>
            <button type="submit" class="btn btn-danger">Envoyer</button>
          </form>
    </body>
</html>